{{define "main"}}

<header class="static">

    <img class="logo" src="/img/hottest100.png" alt="">



    <div class="waves">
        <img style="animation-delay: 1s" src="/img/water4.png" alt="">
        <img style="animation-delay: 2s" src="/img/water3.png" alt="">
        <img style="animation-delay: 3s" src="/img/water2.png" alt="">
        <img style="animation-delay: 3s" src="/img/water1.png" alt="">
    </div>

    <!-- <div class="fish-container">
        <div class="fish">
            <img class="back" src="/img/fish/finback.png" alt="">
            <img class="body" src="/img/fish/body.png" alt="">
            <img class="front" src="/img/fish/finfront.png" alt="">
        </div>
    </div> -->
    
</header>

<section class="container">

    <h1>Hello</h1>

</section>

{{end}}